body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://img.pikbest.com/ai/illus_our/20230427/67cac5b731ede59869f5080482d4c0c2.jpg!w700wp);
}
.atm-container {
    background: #0d013a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.atm-container h1 {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}
.atm-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.atm-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.atm-container button:hover {
    background-color: #45a049;
}
.amount{
    color: white;
}

