body {
    font-family: Arial, sans-serif;
   background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230525/pngtree-an-atm-machine-in-a-dark-room-image_2624180.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .atm-container {
    width: 300px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
  }
  
  .atm-screen {
    text-align: center;
  }
  
  .screen {
    background-color: #222;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .atm-card {
    margin-bottom: 20px;
  }
  
  input {
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
  }
  
  button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .atm-functions {
    text-align: center;
  }
  
  #withdraw-section,
  #remaining-balance {
    margin-top: 20px;
  }
  